  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Mentor</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" [routerLink]="['acceuil']">Acceuil</a></li>
          <li><a >About</a></li>
          <li><a [routerLink]="['produit']">Produit</a></li>
          <li  *ngIf="this.profil=='Admin'"><a [routerLink]="['user']">Utilisateur</a></li>
          <li *ngIf="this.profil=='Admin'"><a [routerLink]="['categorie']">Gestion_Catégorie</a></li>
          <li *ngIf="this.profil=='Admin'"><a [routerLink]="['gestion-rdv']">Gestion Rendez_ovus</a></li>

          <li *ngIf="this.profil=='Admin'"><a [routerLink]="['gestion-produit']">Gestion_Produit</a></li>
          <li *ngIf="this.profil=='Client'"><a [routerLink]="['mes-commandes']">Mes Commandes</a></li>
          

          <li><a [routerLink]="['contact']">Contact  </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      &nbsp;&nbsp;

      <button *ngIf="this.token==null" [routerLink]="['login']" type="button" class="btn btn-secondary">Connexion</button>

      <button *ngIf="this.token!=null" (click)="deconnexion()" type="button" class="btn btn-danger">Deconnexion</button>

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->