<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Connexion</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
    
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">


          <div class="col-lg-8 mt-5 mt-lg-0">

            <form [formGroup]="choisirform" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="date" formControlName="date" name="name" class="form-control" id="name" placeholder="Your Email" required>
                </div>
          
              </div>
            
              <div class="text-center"><button type="submit" (click)="save()">Enregistrer</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
